footer{

  
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
 

  .copy{
span{
    width: 266px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
  font-style: italic;
}
  }

  .links{
    width: 638px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
  font-style: italic;
a{
    font-size: 15px;
    text-decoration: none;
    color: black;
}
  }

  .social{
    width: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
        width: 19px;
        height: 19px;
    }
  }
}



@media screen and (max-width: 768px) {
  footer {
    margin-top: 50px;
   width: 90%;
    .copy {
      span {
        width: auto;
        font-size: 10px; 
      }
    }

    .links {
      width: auto;
     

      a {
        margin-left: 10px;
        font-size: 10px; 
      }
    }

    
  }
}